
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[p_Banner_SyncToMySQL_All]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[p_Banner_SyncToMySQL_All]
GO


CREATE PROCEDURE [dbo].[p_Banner_SyncToMySQL_All]
AS
BEGIN

	--Insert Banner
	INSERT INTO openquery(MYSQL_BIBIAM_DEV,'SELECT ma_banner,ma_chuyen_muc,image_link,url_link,image,loai,vi_tri,trang_thai FROM bibiam.banner')
		select p.ma_banner, p.ma_chuyen_muc, p.image_link, p.url_link, p.image, p.loai, p.vi_tri, p.trang_thai
	from Banner as p WITH (NOLOCK) 
	LEFT JOIN OPENQUERY(MYSQL_BIBIAM_DEV, 'SELECT * FROM banner' ) AS p2
	ON p2.ma_banner = p.ma_banner
	where p2.ma_banner is null

	update p2
	set p2.url_link =p.url_link,
		p2.image_link=p.image_link,
		p2.image =p.image,
		p2.ma_chuyen_muc =p.ma_chuyen_muc,
		p2.loai =p.loai,
		p2.vi_tri =p.vi_tri,
		p2.trang_thai =p.trang_thai
	FROM Banner AS p WITH (NOLOCK)
	JOIN OPENQUERY(MYSQL_BIBIAM_DEV, 'SELECT * FROM banner' ) AS p2
	ON p2.ma_banner = p.ma_banner
END