IF EXISTS (SELECT name FROM [dbo].sysobjects 
         WHERE name = 'p_Brand_SyncToMySQL_All' AND type = 'P')
   DROP PROCEDURE [dbo].p_Brand_SyncToMySQL_All
GO
CREATE PROCEDURE [dbo].p_Brand_SyncToMySQL_All
AS
BEGIN
	update p2
	set p2.ten_thuong_hieu = p.ten_thuong_hieu,
	p2.logo = p.logo,
	p2.trang_thai = p.trang_thai,
	p2.mo_ta = p.mo_ta,
	p2.slug = p.slug + '-' + CAST(p.id as varchar(10)),
	p2.nguoi_cap_nhat = p.nguoi_cap_nhat,
	p2.ngay_cap_nhat = p.ngay_cap_nhat
	FROM BrandManagement AS p WITH (NOLOCK)
	JOIN OPENQUERY(MYSQL_BIBIAM_DEV, 'SELECT * FROM BrandManagement' ) AS p2
    ON p2.ma_thuong_hieu = p.ma_thuong_hieu

	INSERT INTO openquery(MYSQL_BIBIAM_DEV,'SELECT ma_thuong_hieu, ten_thuong_hieu, logo, trang_thai, mo_ta, slug, nguoi_tao, ngay_tao, nguoi_cap_nhat, ngay_cap_nhat FROM BrandManagement')
	select p.ma_thuong_hieu, p.ten_thuong_hieu, p.logo, p.trang_thai, p.mo_ta, p.slug + '-' + CAST(p.id as varchar(10)) as slug, p.nguoi_tao, p.ngay_tao, p.nguoi_cap_nhat, p.ngay_cap_nhat
	from BrandManagement AS p WITH (NOLOCK)
	LEFT JOIN OPENQUERY(MYSQL_BIBIAM_DEV, 'SELECT * FROM BrandManagement' ) AS p2
    ON p2.ma_thuong_hieu = p.ma_thuong_hieu
	WHERE p2.ma_thuong_hieu IS NULL
end