.dropdown-header {
        font-size: 1.2em;
    }

    .dropdown-header > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .3em .6em;
        width: 25%;
    }

    .dropdown-header > span:first-child {
        width: 25%;
        border-left-width: 0;
    }

    #Employee-list .k-item > span{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        vertical-align: top;
        min-height: 20px;
        width: 25%;
        padding: .6em 0 0 0;
    }

    #Employee-list .k-item > span:first-child{
        width: 25%;
        border-left-width: 0;
        padding: .6em 0 0 0;

    }



    #Employee-list h3 {
        font-size: 1.6em;
        margin: 0;
        padding: 0;
    }

    #Employee-list p {
        margin: 0;
        padding: 0;
    }


    
    #PhoneAuto-list .k-item > span{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        vertical-align: top;
        min-height: 20px;
        width: 25%;
        padding: .6em 0 0 0;
    }

    #PhoneAuto-list .k-item > span:first-child{
        width: 25%;
        border-left-width: 0;
        padding: .6em 0 0 0;

    }



    #PhoneAuto-list h3 {
        font-size: 1.6em;
        margin: 0;
        padding: 0;
    }

    #PhoneAuto-list p {
        margin: 0;
        padding: 0;
    }


        
    #IndentityNo-list .k-item > span{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        vertical-align: top;
        min-height: 20px;
        width: 25%;
        padding: .6em 0 0 0;
    }

    #IndentityNo-list .k-item > span:first-child{
        width: 25%;
        border-left-width: 0;
        padding: .6em 0 0 0;

    }



    #IndentityNo-list h3 {
        font-size: 1.6em;
        margin: 0;
        padding: 0;
    }

    #IndentityNo-list p {
        margin: 0;
        padding: 0;
    }





            
    #FullName1-list .k-item > span{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        vertical-align: top;
        min-height: 20px;
        width: 25%;
        padding: .6em 0 0 0;
    }

    #FullName1-list .k-item > span:first-child{
        width: 25%;
        border-left-width: 0;
        padding: .6em 0 0 0;

    }



    #FullName1-list h3 {
        font-size: 1.6em;
        margin: 0;
        padding: 0;
    }

    #FullName1-list p {
        margin: 0;
        padding: 0;
    }