@{
    ViewBag.Title = "403";
}

<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="icon-ban-circle"></i>
                403
            </span>
            Không có quyền truy cập
        </h1>

        <hr />
        <br/>
        <h3 class="lighter smaller">
            Bạn chưa được phân quyền để truy cập chức năng này.
        </h3>
        <h3 class="lighter smaller">

            Vui lòng liên hệ Quản trị viên để được hỗ trợ!
        </h3>
        <br/>
        <hr />
        <div class="space"></div>

        <div class="row-fluid">
            <div class="center">
                <a onclick="window.history.back();" class="btn btn-grey">
                    Về trang trước
                </a>

                <a href="/" class="btn btn-primary">
                    Đến trang chủ
                </a>
            </div>
        </div>
    </div>
</div>

