<div class="row">
    <div class="col-md-12 text-right pull-right">
        @*@if (all || create)
        {
            <a class="btn btn-circle btn-default btn-sm" href="CarSerialManagement" target="_blank"><i class="fa fa-plus"></i> @Html.Raw(Resources.Global._create)</a>
        }*@
        <div style="float:right;margin-left:10px;">
            <div class="input-icon input-icon-sm right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control form-control-solid input-circle input-sm" onkeyup="SearchUser(this, '#=id#')" placeholder="@Html.Raw(Resources.Global._search)...">
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="todo-tasklist">
        @(Html.Kendo().ListView<MCC.Models.tw_BusinessRole>()
                    .Name("listViewUser_#=id#")
                    .TagName("div")
                    .HtmlAttributes(new { @class = "row", @style = "border-style:none;box-shadow:none;margin:0;margin-top:10px" })
                    .ClientTemplateId("templateUser")
                    .DataSource(dataSource =>
                    {
                        dataSource.Read(read => read.Action("GetUserDetailByGroup", "CustomData", new { groupId = "#=id#" }));
                        dataSource.PageSize(10);
                    })
                    .Pageable().ToClientTemplate()
        )
    </div>
</div>
