<style>
    .format-left {
        text-align: left;
    }
    label.error {
        border: none !important;
        background-color: #fff !important;
        color: #ff0000;
    }
    .format-right {
        text-align: right;
    }
    .listview-left {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        height: 95px;
        cursor: pointer;
    }

        .listview-left img {
            float: left;
            width: 100px;
            height: 90px;
            padding-left: 2px;
            border-left: #3faba4 2px solid !important;
        }

        .listview-left.selected {
            background-color: #D2EDF3;
        }
    /*.k-pager-info {
        float: right !important;
        padding: 0 0 !important;
        margin-right: 10px !important;
    }*/
    .k-widget, .k-block, .k-inline-block, .k-draghandle {
        border-style: none !important;
    }

    .img-circle {
        border-radius: 20px!important; 
        height: 200px!important;
    }
    .btn-circle {
        border-radius: 20px!important;
    }

    /*.img-border-box {
        border: 0.02em solid !important;
        border-radius: 10px !important;
        color: lightgrey !important;
    }*/
    .input-search .icon-in-search {
        color:lightgray;
        font-size: x-large;
        padding-left: 28px;
    }
    .k-pager-wrap>.k-link {
       border-radius: 0px!important; 
    }
</style>