
IF EXISTS (SELECT name FROM [dbo].sysobjects 
         WHERE name = 'p_Merchant_Order_SyncToBE_Full' AND type = 'P')
   DROP PROCEDURE [dbo].p_Merchant_Order_SyncToBE_Full
GO
  

CREATE PROCEDURE [dbo].[p_Merchant_Order_SyncToBE_Full]
AS
begin
		
		-- lay thong header	
		--Merchant_OrderHeader(ma_don_hang,ma_khach_hang,hoten,dia_chi_giao_hang,quan_huyen_giao,tinh_thanh_giao,so_dien_thoai_giao,so_loai_san_pham,so_luong_san_pham,so_luong_khuyen_mai,tong_tien_don_hang,tong_tien_khuyen_mai,tong_tien_thanh_toan,hinh_thuc_thanh_toan,trang_thai_don_hang,ngay_tao,nguoi_tao,ngay_cap_nhat,nguoi_cap_nhat)
		select p2.ma_don_hang,p2.ma_khach_hang,p2.hoten,p2.dia_chi_giao_hang,p2.quan_huyen_giao,p2.tinh_thanh_giao,p2.so_dien_thoai_giao,p2.so_loai_san_pham,p2.so_luong_san_pham,p2.so_luong_khuyen_mai,p2.tong_tien_don_hang,p2.tong_tien_khuyen_mai,p2.tong_tien_thanh_toan,p2.hinh_thuc_thanh_toan,p2.trang_thai_don_hang,p2.ngay_tao,p2.nguoi_tao,GETDATE() as ngay_cap_nhat,p2.nguoi_cap_nhat 
		INTO #tmpMerchant_OrderHeader
		from openquery(MYSQL_BIBIAM_DEV,'select a.*,b.hoten from bibiam_dev1.orderheader a  left join bibiam_dev1.customer b  on
		a.ma_khach_hang = b.ma_khach_hang ') p2 
		left join Merchant_OrderHeader p
		on p2.ma_don_hang=p.ma_don_hang_cha
		where p.ma_don_hang_cha is null

		-- lay thong tin sp cua header
		--INSERT INTO Merchant_OrderDetail(ma_don_hang,ma_gian_hang,ma_san_pham,ten_san_pham,don_gia,so_luong,khuyen_mai,thanh_tien,sp_khuyen_mai,ngay_tao,nguoi_tao,ngay_cap_nhat,nguoi_cap_nhat)
		select p2.ma_don_hang,p2.ma_gian_hang,p2.ma_san_pham,p2.ten_san_pham,p2.don_gia,p2.so_luong,p2.khuyen_mai,p2.thanh_tien,p2.sp_khuyen_mai,p2.ngay_tao,p2.nguoi_tao,p2.ngay_cap_nhat,p2.nguoi_cap_nhat
		into #tmpMerchant_OrderDetail
		from openquery(MYSQL_BIBIAM_DEV,'select a.*, b.ten_san_pham,b.don_gia from bibiam_dev1.orderdetail a  left join bibiam_dev1.merchant_product b  on
		a.ma_san_pham = b.ma_san_pham ') p2 
		join #tmpMerchant_OrderHeader p on (p.ma_don_hang = p2.ma_don_hang)
	
		DECLARE @ma_gian_hang VARCHAR(30)
		DECLARE @ma_don_hang VARCHAR(30)
		DECLARE @ma_don_hang_new VARCHAR(30)
		DECLARE @first VARCHAR(3)
		DECLARE @last VARCHAR(3)
		DECLARE @i int

		declare forlistOrder cursor local fast_forward for
		select distinct ma_gian_hang,ma_don_hang from #tmpMerchant_OrderDetail

		OPEN forlistOrder   
		FETCH NEXT FROM forlistOrder INTO @ma_gian_hang,@ma_don_hang
		WHILE @@FETCH_STATUS = 0   
		BEGIN 
			
			set @i=1
			set @first = ''
			set @last = ''
			while(@i<=3)
			begin
				set @first = @first + CHAR(ABS(Checksum(NewID()) % 24) + 65)
				set @last = @last + CHAR(ABS(Checksum(NewID()) % 24) + 65)
				set @i= @i + 1
			end
			
			set @ma_don_hang_new = @first + format(getdate(),'yyyyMMddHHmm') + @last

			insert into Merchant_OrderHeader(ma_don_hang,ma_don_hang_cha,ma_khach_hang,hoten,dia_chi_giao_hang,quan_huyen_giao,tinh_thanh_giao,so_dien_thoai_giao,so_loai_san_pham,so_luong_san_pham,so_luong_khuyen_mai,tong_tien_don_hang,tong_tien_khuyen_mai,tong_tien_thanh_toan,hinh_thuc_thanh_toan,trang_thai_don_hang,ngay_tao,nguoi_tao,ngay_cap_nhat,nguoi_cap_nhat)
			select @ma_don_hang_new,p2.ma_don_hang,p2.ma_khach_hang,p2.hoten,p2.dia_chi_giao_hang,p2.quan_huyen_giao,p2.tinh_thanh_giao,p2.so_dien_thoai_giao,p2.so_loai_san_pham,p2.so_luong_san_pham,p2.so_luong_khuyen_mai,p2.tong_tien_don_hang,p2.tong_tien_khuyen_mai,p2.tong_tien_thanh_toan,p2.hinh_thuc_thanh_toan,p2.trang_thai_don_hang,p2.ngay_tao,p2.nguoi_tao,GETDATE() as ngay_cap_nhat,p2.nguoi_cap_nhat 
			from openquery(MYSQL_BIBIAM_DEV,'select a.*,b.hoten from bibiam_dev1.order_merchant a  left join bibiam_dev1.customer b  on
			a.ma_khach_hang = b.ma_khach_hang ') p2 
			where p2.ma_don_hang=@ma_don_hang
			and p2.ma_gian_hang=@ma_gian_hang

			INSERT INTO Merchant_OrderDetail(ma_don_hang,ma_gian_hang,ma_san_pham,ten_san_pham,don_gia,so_luong,khuyen_mai,thanh_tien,sp_khuyen_mai,ngay_tao,nguoi_tao,ngay_cap_nhat,nguoi_cap_nhat)
			select @ma_don_hang_new,p2.ma_gian_hang,p2.ma_san_pham,p2.ten_san_pham,p2.don_gia,p2.so_luong,p2.khuyen_mai,p2.thanh_tien,p2.sp_khuyen_mai,p2.ngay_tao,p2.nguoi_tao,p2.ngay_cap_nhat,p2.nguoi_cap_nhat
			from #tmpMerchant_OrderDetail p2
			where p2.ma_don_hang=@ma_don_hang
			and p2.ma_gian_hang=@ma_gian_hang

			FETCH NEXT FROM forlistOrder INTO @ma_gian_hang,@ma_don_hang
		END   

		CLOSE forlistOrder   
		DEALLOCATE forlistOrder

end
