<div id="popup-close-window" class="modal hide">
    <div class="k-window-titlebar k-header">
        <span class="k-window-title">Thông báo</span>
        <button type="button" class="btclose" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body overflow-visible">
        <div class="row-fluid form-horizontal">
            <p>
                <span id="txtcontent"></span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-info btn-small" onclick="onChangeStatus()"> Đồng ý</a>
        <a class="btn btn-default btn-small" data-dismiss="modal">Bỏ qua</a>
    </div>
</div>
<script>
    var flag = false;
    function showPopupCloseWindow(e) {
        $('#popup-close-window').modal('show');
        $('#txtcontent').text("Bạn có muốn thoát mà không upload ảnh ?");
    }
    function onChangeStatus() {
        $("#undo").show();
        var myNode = document.getElementById("products");
        myNode.innerHTML = '';
        $(".k-upload-files.k-reset").find("li").remove();
        flag = true;
        $("#window_them_anh").data("kendoWindow").close();        
        onCloseForm();
    }
    function onCloseForm() {
        $('.modal').modal('hide');
    }
</script>